{% extends 'main.html' %}
{% load static %}

{% block title %}Advertise With Us - Website Designer Nigeria{% endblock %}

{% block meta_description %}Advertise your business, brand, products and services on Website Designer Nigeria. Connect with your audience through a variety of Advert placement options.{% endblock %}

{% block og_title %}Advertise With Us - Website Designer Nigeria{% endblock %}

{% block og_description %}Advertise your business, brand, products and services on Website Designer Nigeria. Connect with your audience through a variety of Advert placement options{% endblock %}

{% block extra_css %}
{% endblock%}

{% block maincontent %}

<!-- Page Title Banner -->
    <div class="about-banner wow fadeIn" data-wow-delay="0.1s">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Advertise With Us</h1>
                </div>
            </div>
        </div>
    </div>

<!-- Page Title Banner End -->

<!-- Services Description -->
<div class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <p>Promote your Business</p>
                <h2>Advertise With Us</h2>
            </div>
            <p class="mb-4 wow fadeInUp" data-wow-delay="0.2s">Looking for a way to get your brand in front of thousands of Nigerians every day? You’re in the right place. You found us, and so did thousands of Nigerians all over the country. Take advantage of our mass social and organic traffic to showcase your products and services to a highly engaged audience.</p>
            <p class="mb-4 wow fadeInUp" data-wow-delay="0.3s"><a href="https://www.websitedesigner.ng/">Website Designer Nigeria</a> attracts a diverse range of readers and visitors across Nigeria — from young professionals and entrepreneurs to students and tech-savvy shoppers — all actively looking for the latest products, services, and solutions.</p>
            <p class="mb-4 wow fadeInUp" data-wow-delay="0.4s">When you advertise with us, you’re not just placing an ad — you’re connecting directly with real people who trust and engage with our content daily.</p>
        </div>
    </div>
</div>

<!-- Our Promotion Options -->
<div class="container-fluid py-5">
    <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
        <p>Attract More Customers</p>
        <h2>Our Promotion Options</h2>
    </div>
    <div class ="wow zoomIn" data-wow-delay="0.2s">
        <p>Our Advertising Options Include:</p>
        <ul>
            <li>Banner Ads (Homepage and/or Internal Pages)</li>
            <li>Sponsored Blog Posts</li>
            <li>Social Media Campaigns</li>
            <li>Text Ads</li>
            <li>Popup Campaigns</li>
        </ul>
    </div>
</div>

<!-- contact us -->
<div class="portfolio section-margin" id="portfolio">
    <div class="container-fluid">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>Ready to get started?</p>
            <h2>Contact Us</h2>
        </div>
        <p class ="wow zoomIn" data-wow-delay="0.2s">Get in touch with us today to discuss advertising opportunities. Email us at <a href="mailto:business@websitedesigner.ng"><u>business@websitedesigner.ng</u></a>.</p>
    
    </div>
</div>
<!-- Portfolio End -->



{% endblock %}
{% block extra_js %}


{% endblock %}