{% extends 'main.html' %}
{% load static %}

{% block title %}Online Tech Courses in Nigeria - Website Designer Nigeria{% endblock %}

{% block meta_description %}Check out our online tech courses in Nigeria on Website Development, Design, Programming, UI/UX Design and other skills.{% endblock %}

{% block og_title %}Online Tech Courses in Nigeria - Website Designer Nigeria{% endblock %}

{% block og_description %}Check out our online tech courses in Nigeria on Website Development, Design, Programming, UI/UX Design and other skills.{% endblock %}

{% block extra_css %}
{% endblock%}

{% block maincontent %}

    <!-- Hero Banner Section -->
    <section class="hero about-hero-section">
        <div class="hero-overlay"></div>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-8 col-12">
                    <div class="hero-content wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="hero-text mt-lg-2">
                            <h1 class="mb-2 mt-lg-2">TECH COURSES</h1>
                            <p class="mb-2 mt-lg-3">Check out our online tech courses in Nigeria on Website Development, Design, Programming, UI/UX Design and other skills.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-indicator">
            <div class="scroll-arrow"></div>
        </div>
    </section>

<!-- Services Description -->
<div class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <p>Learn Tech</p>
                <h2>Online Tech Courses in Nigeria</h2>
            </div>
            <div class="row">
                <!-- Course 1 -->
                <div class="col-md-4">
                    <div class="card">
                        <img src="https://i.ytimg.com/vi/B-ytMSuwbf8/maxresdefault.jpg" class="card-img-top" alt="Online Tech Courses in Nigeria">
                        <div class="card-body text-center">
                            <h5 class="card-title">Web Development Basics</h5>
                            <span class="badge badge-warning" style="background-color: orange; color: white;">Coming Soon</span>
                        </div>
                    </div>
                </div>
                <!-- Course 2 -->
                <div class="col-md-4">
                    <div class="card">
                        <img src="https://cdn.mindmajix.com/courses/javascript-training-120620.png" class="card-img-top" alt="Online Tech Courses in Nigeria">
                        <div class="card-body text-center">
                            <h5 class="card-title">Advanced JavaScript</h5>
                            <span class="badge badge-warning" style="background-color: orange; color: white;">Coming Soon</span>
                        </div>
                    </div>
                </div>
                <!-- Course 3 -->
                <div class="col-md-4">
                    <div class="card">
                        <img src="https://myteacher.ng/wp-content/uploads/2024/03/myteacher-uiux.jpg" class="card-img-top" alt="Online Tech Courses in Nigeria">
                        <div class="card-body text-center">
                            <h5 class="card-title">UI/UX Design Principles</h5>
                            <span class="badge badge-warning" style="background-color: orange; color: white;">Coming Soon</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="container-fluid my-5">
        <p class="mb-4 wow fadeInUp" data-wow-delay="0.2s">For collaboration & enquiries, reach out to Bornor on <a href="mailto:bornor@websitedesigner.ng"><u>bornor@websitedesigner.ng</u></a> or call <a href="tel:08148882303"><u>08148882303</u></a></p>
       
    </div>

{% endblock %}
{% block extra_js %}


{% endblock %}