{% extends 'main.html' %}
{% load static %}
{% block maincontent %}

<!-- Hero Start -->
<div class="hero" id="home">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-8">
                <div class="hero-content">
                    <div class="hero-text">
                        <p>WELCOME TO</p>
                        <h1>WEBSITE DESIGNER NIGERIA</h1>
                        <h2>Need to create a website?</h2>
                        <div class="typed-text">, We have got you covered, Here are our Website Development Services:, Ecommerce Website Design, Custom Web Development, WordPress Development, Shopify Store Setup, Search Engine Optimization (SEO), Mobile App Development</div>
                    </div>
                    <div class="hero-btn">
                        <a class="btn" href="tel:+2348148882303">CALL US</a>
                        <a class="btn" href="https://wa.link/f2kd41" target=_blank>WHATSAPP</a>
                    </div>
                    <div class="accredited mt-5 mb-2">
                        <img src="{% static 'img/websitedesigner1.png' %}" alt="website designer nigeria">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 d-none d-md-block">
                <div class="">
                    <img src="{% static 'img/Website Designer Nigeria.png' %}" alt="Website Designer Nigeria">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->

<div class="container mb-5">
        <div class="scrolling-container">
            <div class="scrolling-image">
                <img src="{% static 'img/websitedesignernigeria.png' %}" alt="Website Designer Nigeria">
            </div>
    </div>
</div>

<!-- About Start -->

<div id="about">
    <div class="container">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>ABOUT US</p>
            <h2>Website Designer Nigeria</h2>
        </div>
        <div class="wow fadeInUp" data-wow-delay="0.0s">
            <p><strong>Website Designer Nigeria</strong> are the <strong>best web designers in Nigeria</strong>. We’re passionate about helping businesses in the retail and corporate industries fully leverage the latest <a href="https://www.sciencedirect.com/topics/computer-science/software-technology">software technologies</a>. Our tech team is dedicated to create websites that meet your exact needs because we pride ourselves on being the <strong>best web designers in Nigeria</strong>.</p>

            <h3>Our Key Services</h3>
            <ul>
                <li><strong>Custom Website Design</strong>: As a top-rated website design company in nigeria, we provide <b>website development services</b> that reflect your brand and meet your specific business goals. Our designs are responsive, user-friendly, and SEO-optimized to ensure your website stands out in search engines.</li>
                <li><strong>E-Commerce Website Design</strong>: We are expert <strong>website design company in nigeria</strong> that build e-commerce solutions that enable your business to accept payments directly to your bank account. Our e-commerce sites are fully optimized for a seamless shopping experience for your customers.</li>
                <li><strong>Search Engine Optimization</strong>: We help you grow your brand’s online presence through effective SEO strategies that build your organic presence and drive traffic to your website.</li>
            </ul>

            <p>Additionally, we help you integrate the latest <a href ="https://www.globalaccelerex.com/news/top-9-online-payment-gateways-in-nigeria">payment gateways</a>, enabling you to accept payments from debit and credit cards both locally and internationally. This integration ensures smooth transactions for your customers no matter where they are located.</p>

            <h3>Our Mission</h3>
            <ul>
                <li>To help businesses build their brand through professional websites that drive in sales.</li>
                <li>To <strong>create websites</strong> and software solutions that perfectly align with each client’s specific needs and goals.</li>
            </ul>

            <h3>Our Vision</h3>
            <p>To become the <strong>best web designers in Nigeria</strong> known for delivering exceptional, results-driven web app solutions.</p>
        </div>
    </div>
</div>

<!-- Service Start -->
<div class="service" id="service">
    <div class="container">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>WHAT WE DO</p>
            <h2>Website Development Services</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.0s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-laptop"></i>
                    </div>
                    <div class="service-text">
                        <h3>Ecommerce Web Design</h3>
                        <p>
                            <a href="https://www.websitedesigner.ng/">Website Designer Nigeria</a> builds ecommerce websites that will appeal to your audiences, showcase your products and drive in sales. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-laptop-code"></i>
                    </div>
                    <div class="service-text">
                        <h3>Website Development</h3>
                        <p>
                            Website development services for all types of sites according to your custom needs; investment, socials, corporate, shipping, educational, e.t.c
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="service-text">
                        <h3>SEO</h3>
                        <p>
                            Driving your business to Google's first pages is what we do best. Our rich SEO technique will shoot your websites to the top in few weeks!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fab fa-apple"></i>
                    </div>
                    <div class="service-text">
                        <h3>Mobile App Development</h3>
                        <p>
                            We offer app development services that build powerful, user-friendly iOS and Android mobile apps for your business needs.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<!-- Banner Start -->
<div class="banner wow zoomIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="section-header text-center">
            <p style="color: #000;">New Year Discount</p>
            <h2>Get <span style="color: #000;">20%</span> Discount</h2>
        </div>
        <div class="container banner-text">
            <p>
                'Tis a new year, welcome to 2025! To spread some great cheer, we're offering an exclusive 20% discount on all our Website Development services. Whether you're looking to create a website, launch new ecommerce platform for your business, or build a mobile app, now is the perfect time to get started and save big. Take advantage of this 
                limited-time offer to elevate your online presence and set your business up for success in the new year. Don't miss out—this benevolent offer won’t last long!
            </p>
            <a class="btn" href="https://wa.link/f2kd41" target=_blank>Order Now</a>
        </div>
    </div>
</div>
<!-- Banner End -->

<!-- Portfolio Start -->
<div class="portfolio mt-3 mb-3" id="portfolio">
    <div class="container">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>Our Past projects</p>
            <h2>Portfolio</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <ul id="portfolio-filter">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-1">Ecommerce Website Design</li>
                    <li data-filter=".filter-2">Corporate Web Development</li>
                    <li data-filter=".filter-3">Mobile App Development</li>
                </ul>
            </div>
        </div>
        <div class="row portfolio-container">
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-1">
                <div class="portfolio-wrap">
                    <div class="portfolio-img">
                        <a class="btn" href="https://themall.ng/" target="_blank"><img src="https://themewagon.github.io/devfolio2/img/portfolio-1.jpg" alt="create a website"></a>
                    </div>
                    <div class="portfolio-text">
                        <h3>TheMall</h3>
                        <a class="btn" href="https://themall.ng/" target="_blank">↗</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-1">
                <div class="portfolio-wrap">
                    <div class="portfolio-img">
                        <a class="btn" href="https://www.tatacliq.com/gadgets-store" target="_blank"><img src="https://themewagon.github.io/devfolio2/img/portfolio-3.jpg" alt="best web designers in nigeria"></a>
                    </div>
                    <div class="portfolio-text">
                        <h3>Tatacliq</h3>
                        <a class="btn" href="https://www.tatacliq.com/gadgets-store" target="_blank">↗</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-1">
                <div class="portfolio-wrap">
                    <div class="portfolio-img">
                        <a class="btn" href="https://rehmie.com.ng/" target="_blank"><img src="https://themewagon.github.io/devfolio2/img/portfolio-2.jpg" alt="wesbite designer nigeria"></a>
                    </div>
                    <div class="portfolio-text">
                        <h3>Rehmie</h3>
                        <a class="btn" href="https://rehmie.com.ng/" target="_blank">↗</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row portfolio-container">
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-3">
                <div class="portfolio-wrap">
                    <div class="portfolio-img">
                        <a class="btn" href="https://e3j5a.app.link/DeSzV4jx8Ab" target="_blank"><img src="https://themewagon.github.io/devfolio2/img/portfolio-4.jpg" alt="best web designers in nigeria"></a>
                    </div>
                    <div class="portfolio-text">
                        <h3>Topface </h3>
                        <a class="btn" href="https://e3j5a.app.link/DeSzV4jx8Ab" target="_blank">↗</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-3">
                <div class="portfolio-wrap">
                    <div class="portfolio-img">
                        <a class="btn" href="https://play.google.com/store/apps/details?id=com.kusnap.kusnapapp" target="_blank"><img src="https://themewagon.github.io/devfolio2/img/portfolio-5.jpg" alt="best web designers in nigeria"></a>
                    </div>
                    <div class="portfolio-text">
                        <h3>Kusnap App</h3>
                        <a class="btn" href="https://play.google.com/store/apps/details?id=com.kusnap.kusnapapp" target="_blank">↗</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-2">
                <div class="portfolio-wrap">
                    <div class="portfolio-img">
                        <a class="btn" href="https://bitpapa.com/" target="_blank"><img src="https://themewagon.github.io/devfolio2/img/portfolio-6.jpg" alt="create a website"></a>
                    </div>
                    <div class="portfolio-text">
                        <h3>Bitpapa</h3>
                        <a class="btn" href="https://bitpapa.com/" target="_blank">↗</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row portfolio-container">
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-2">
                <div class="portfolio-wrap">
                    <div class="portfolio-img">
                        <a class="btn" href="https://geodis.com" target="_blank"><img src="https://media.istockphoto.com/photos/global-business-logistics-import-export-background-and-container-picture-id1266958681?k=20&m=1266958681&s=612x612&w=0&h=VfpQl6Fe83meeTksLdtIvoclXldL2bfD7D9A72WO5nI=" alt="create a website"></a>
                    </div>
                    <div class="portfolio-text">
                        <h3>Geodis</h3>
                        <a class="btn" href="https://geodis.com" target="_blank">↗</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-2">
                <div class="portfolio-wrap">
                    <div class="portfolio-img">
                        <a class="btn" href="https://nairaex.com" target="_blank"><img src="https://media.cnn.com/api/v1/images/stellar/prod/240110102416-bitcoin-011024.jpg?c=16x9&q=h_833,w_1480,c_fill" alt="best web designers in nigeria"></a>
                    </div>
                    <div class="portfolio-text">
                        <h3>Nairaex</h3>
                        <a class="btn" href="https://nairaex.com" target="_blank">↗</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-1">
                <div class="portfolio-wrap">
                    <div class="portfolio-img">
                        <a class="btn" href="https://Ogbongeh.com" target="_blank"><img src="https://nomadparadise.com/wp-content/uploads/2020/08/nigerian-food-01-1024x640.jpg" alt="best web designers in nigeria"></a>
                    </div>
                    <div class="portfolio-text">
                        <h3>Ogbongeh</h3>
                        <a class="btn" href="https://Ogbongeh.com" target="_blank">↗</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row portfolio-container">
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-1">
                <div class="portfolio-wrap">
                    <div class="portfolio-img">
                        <a class="btn" href="https://europcar.com" target="_blank"><img src="https://www.oneclickdrive.com/uploads/mobcars/MG_5_2024_21766_21766_14500861542-6.jpg" alt="website designer nigeria"></a>
                    </div>
                    <div class="portfolio-text">
                        <h3>Europcar</h3>
                        <a class="btn" href="https://europcar.com" target="_blank">↗</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-2">
                <div class="portfolio-wrap">
                    <div class="portfolio-img">
                        <a class="btn" href="https://Nairadirect.com" target="_blank"><img src="https://images.barrons.com/im-489169?width=639&height=426" alt="website designer nigeria"></a>
                    </div>
                    <div class="portfolio-text">
                        <h3>Nairadirect</h3>
                        <a class="btn" href="https://Nairadirect.com" target="_blank">↗</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-2">
                <div class="portfolio-wrap">
                    <div class="portfolio-img">
                        <a class="btn" href="https://Rew.ca"><img src="https://images.unsplash.com/photo-1605146769289-440113cc3d00?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cmVhbCUyMGVzdGF0ZXxlbnwwfHwwfHx8MA%3D%3D" alt="best web designers in nigeria"></a>
                    </div>
                    <div class="portfolio-text">
                        <h3>Rewca</h3>
                        <a class="btn" href="https://Rew.ca">↗</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio End -->


<!-- Testimonial Start -->
<div class="mt-5 mb-3">
    <div class="testimonial wow fadeInUp" data-wow-delay="0.1s" id="reviews">
        <div class="container">
            <div class="testimonial-icon">
                <i class="fa fa-quote-left"></i>
            </div>
            <div class="owl-carousel testimonials-carousel">
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="https://media.licdn.com/dms/image/v2/D5603AQEr1pd1OjcYwQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1713774180174?e=2147483647&v=beta&t=SzNOpROm_Ya-3icVggZvFIfkPRi3X6oac5ux1E5sEtU" alt="create a website">
                    </div>
                    <div class="testimonial-text">
                        <p>
                            "These guys did an amazing job on my website. Not only does it look professional and modern, but they also ensured it’s optimized for search engines. 
                            Thanks to these best web designers in nigeria, I’ve noticed my site ranking higher, and it’s helping bring in more business."
                        </p>
                        <h3>Tunde Adeyanju</h3>
                        <h4>Director of Infrastructure</h4>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="https://media.licdn.com/dms/image/v2/C4D03AQFGBj-oYRuqMQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1595430338649?e=2147483647&v=beta&t=m1I2c2NFuRIxbRuhGjwS1cSJM116Cfurh83zXzZZsRg" alt="Website Designer Nigeria">
                    </div>
                    <div class="testimonial-text">
                        <p>
                            I had high hopes for my website, and Website Designer Nigeria delivered beyond expectations. They designed a responsive website that’s easy to use and 
                            visually appealing. My search engine rankings have gone up, and I’ve seen a steady increase in visitors.
                        </p>
                        <h3>Umar Babaginda</h3>
                        <h4>Regional Chairman</h4>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="https://media.licdn.com/dms/image/v2/D4D03AQGUn7U6vzY_lg/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1697792557444?e=2147483647&v=beta&t=7m_OMSi6GQDUpCEJcNxjRH1XX-_-yGaZQFQXRPu5TiM" alt="website development services">
                    </div>
                    <div class="testimonial-text">
                        <p>
                            I am beyond impressed with the web design services I was offered. These people created a beautiful website for 
                            my business and gave me more than what I asked for. I still run to them when I need help and they answer promptly.
                        </p>
                        <h3>Cyril Humble</h3>
                        <h4>Entrepreneur</h4>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="https://media.licdn.com/dms/image/v2/D4D03AQFm8vGZyczuCQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1726560286835?e=2147483647&v=beta&t=7X9IRQRx24Z7-i5j1KkypMfIjdQ_s1HUupNtiAHgroM" alt="best web designers in nigeria">
                    </div>
                    <div class="testimonial-text">
                        <p>
                            I have been working with this website design company in nigeria 
                            for a few months now, and the experience has been amazing. Their services are affordable, sites are beautiful and above all they are highly professional.
                        </p>
                        <h3>Osagie Rejoice</h3>
                        <h4>Product Manager</h4>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="https://media.licdn.com/dms/image/v2/D4D03AQHCeS1boG9szA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1687902489902?e=2147483647&v=beta&t=IYvvN72LH4FXpWzQ_u90NVKmd-3VC83qlwP9WmzsDaw" alt="website development services">
                    </div>
                    <div class="testimonial-text">
                        <p>
                            I needed to build a website for my business and I stumbled upon these guys and it has been wonderful ever since. My business has since grown tremendously and
                            I get a huge number of organic customers too. 
                        </p>
                        <h3>Funmilayo Ojo</h3>
                        <h4>Online Retailer</h4>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="https://media.licdn.com/dms/image/v2/D4D03AQGQgL9M0bMEoA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1710448563495?e=2147483647&v=beta&t=l2oBulX-bZIFSMVPEMnoKTJcZTBFqR804fVtuZu77rk" alt="website designer nigeria">
                    </div>
                    <div class="testimonial-text">
                        <p>
                            When I wanted to create a website for my blog, I was worried about finding a team that understood my vision. 
                            ebsite Designer Nigeria not only understood it but made it even better. The process was smooth, and the results are stunning!
                        </p>
                        <h3>Sholadele Akanmu</h3>
                        <h4>Blogger</h4>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="https://media.licdn.com/dms/image/C4D03AQEXy8VhXxxhbA/profile-displayphoto-shrink_200_200/0/1644495647653?e=2147483647&v=beta&t=mhCF7GP-1fwLaeNhkw92TxTgkaKQW6oo3Dxlxby-nxk" alt="website designer nigeria">
                    </div>
                    <div class="testimonial-text">
                        <p>
                            Website Designer Nigeria made my dream of launching an e-commerce site a reality. They didn’t just develop a website; they designed 
                            a seamless shopping experience for my customers. I’m already seeing the impact on my sales. Highly recommend them!"
                        </p>
                        <h3>Toechi Johnson</h3>
                        <h4>Entrepreneur</h4>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="https://media.licdn.com/dms/image/v2/D4D03AQGqsHzOG2Hgbw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1718296633504?e=2147483647&v=beta&t=jFZKfJFuxG8HDumjyvgi-yBZfTVsCovesHOggEn0KHA" alt="website designer nigeria">
                    </div>
                    <div class="testimonial-text">
                        <p>
                            I couldn’t have asked for a better experience. Best website designers in Nigeria brought my vision to life, building a website that perfectly reflects my brand. 
                            The user-friendly design and attention to detail are just incredible. I’m beyond happy with the results."
                        </p>
                        <h3>Emeka Nwaeze</h3>
                        <h4>Forex Tutor</h4>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="https://media.licdn.com/dms/image/v2/C4E03AQF_xqh2QLavDg/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1586253447777?e=2147483647&v=beta&t=1KlWmVqP7w1siz0scnHdySqdxPg1iX-NAKU5ryX7uyw" alt="website development services">
                    </div>
                    <div class="testimonial-text">
                        <p>
                            As a small business owner, finding a website design company in nigeria was so important to me. They didn’t just create a website; 
                            they built a platform that attracts new customers daily. Their services are top-notch and affordable. I’m so grateful!"
                        </p>
                        <h3>Paul Elijah</h3>
                        <h4>Dropshipper</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->


<!-- Contact Start -->
<div id="contact">
    <div class="container">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>REACH OUT NOW</p>
            <h2>CONTACT US</h2>
        </div>
        <p>
            Looking to create a website? We are delighted to work with you, call our below, chat us on whatsapp
            or send an email and a member of our team will reach out to you immediately. We can’t wait to work with you!
        </p>
        <p>
            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4685.226267937333!2d7.4115556622823515!3d9.082888759834516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104e7517a4d485d5%3A0x549694aea9d3d3a3!2s32%20Rd%2C%20Jabi%2C%20Gwarinpa%20900108%2C%20Federal%20Capital%20Territory!5e0!3m2!1sen!2sng!4v1733309686413!5m2!1sen!2sng" 
                        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </p>
    </div>
</div>
<!-- Contact End -->

<!-- Blog Start -->
<div class="blog" id="blog">
    <div class="container">
        <div class="section-header text-center">
            <p>From Blog</p>
            <h2>Latest Articles</h2>
        </div>
        <div class="row">
            {% for blog in recent_blogs %}
            <div class="col-lg-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="{{ blog.image.url }}" alt="Blog">
                    </div>
                    <div class="blog-text">
                        <h2>{{ blog.title }}</h2>
                        <div class="blog-meta">
                            <p><i class="far fa-user"></i>{{ blog.author }}</p>
                            <p><i class="far fa-list-alt"></i>{{ blog.category }}</p>
                            <p><i class="far fa-calendar-alt"></i>{{ blog.date }}</p>
                            <p><i class="far fa-comments"></i>{{ blog.comments_count }}</p>
                        </div>
                        <div style="word-wrap: break-word;">
                            <p>
                                {{ blog.content|truncatewords:30|safe }}
                            </p>
                        </div>
                        <a class="btn" href="{% url 'blog_detail' category_slug=blog.category.slug slug=blog.slug %}">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Blog End -->


{% endblock %}
