{% load static %}

{% load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Website Designer Nigeria - Best Web Designers in Nigeria{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow">

        <!-- Meta Description -->
        <meta name="description" content="{% block meta_description %}Website Designer Nigeria is a web design company in Lagos & Abuja that offers website development services. We are the best web designers in Nigeria.{% endblock %}">

        <!-- Meta Keywords (SEO optimized) -->
        <meta name="keywords" content="web designer in Lagos, web design company, website development services, best web designers in Nigeria, web designers in nigeria, website designer nigeria, web developers in nigeria, seo company in nigeria, website design agency, best web design company in nigeria, web developer in Nigeria">

        <!-- Open Graph Meta Tags (For Social Media Sharing) -->
        <meta property="og:title" content="{% block og_title %}Website Designer Nigeria - Best Web Designers in Nigeria{% endblock %}">
        <meta property="og:description" content="{% block og_description %}Website Designer Nigeria is a web design company in Lagos & Abuja that offers website development services. We are the best web designers in Nigeria.{% endblock %}">
        <meta property="og:image" content="{% static 'img/favicon.png' %}"> 
        <meta property="og:url" content="https://websitedesigner.ng">
        <meta property="og:type" content="website">

        {% block extra_meta %}
        {% endblock %}

        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Website Designer Nigeria",
            "url": "https://www.websitedesigner.ng/",
            "logo": "https://www.websitedesigner.ng/static/img/website-designer-nigeria-logo.png"
        }
        </script>

        <!-- Twitter Card Meta Tags (For Twitter Sharing) -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Website Designer Nigeria - Best Web Designers in Nigeria">
        <meta name="twitter:description" content="Website Designer Nigeria is a web design company in Lagos & Abuja that offers website development services. We are the best web designers in Nigeria.">
        <meta name="twitter:image" content="{% static 'img/favicon.png' %}">

        <!-- Favicon -->
        <link href="{% static 'img/favicon.png' %}" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

        <!-- SwiperJS CSS -->
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />


        <!-- Template Stylesheet -->
        <link href="{%static 'css/style.css' %}" rel="stylesheet">

        <script src="https://kit.fontawesome.com/955d8bdaab.js" crossorigin="anonymous"></script>

        <!-- Google tag (gtag.js) --> 
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-657ZXEZN1X"></script> 
        <script> 
            window.dataLayer = window.dataLayer || []; 
            function gtag(){dataLayer.push(arguments);} 
            gtag('js', new Date()); 
            
            gtag('config', 'G-657ZXEZN1X'); 
        </script>

        <!--Google adsense-->
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4756517876694191"
        crossorigin="anonymous"></script>

        {% block extra_css %}
        {% endblock%}
    </head>

    <body data-spy="scroll" data-target=".navbar" data-offset="51">
        <!-- Nav Bar Start -->
       <div class="navbar navbar-expand-lg bg-light navbar-light">
            <div class="container-fluid">
                <a href="/">
                    <img src="{% static 'img/website designer nigeria - logo.png' %}" class="desktop d-none d-md-block" alt="Website Designer Nigeria">
                </a>
                <a href="/">
                    <img src="{% static 'img/website designer nigeria logo.png' %}" class="mobile d-block d-md-none" alt="Website Designer Nigeria">
                </a>

                <!-- Sticky Logo (Hidden by Default) -->
                <div class="sticky-logo">
                    <a href="/">
                        <img src="{% static 'img/website designer nigeria logo.png' %}" alt="Web Design Company in Nigeria">
                    </a>
                </div>

                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="/" class="nav-item nav-link">Home</a>
                        <a href="{% url 'about-website-designer-nigeria' %}" class="nav-item nav-link">About Us</a>
                        <a href="{% url 'services' %}" class="nav-item nav-link">Our Services</a>
                
                        <!-- Resources Dropdown -->
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Resources</a>
                            <div class="dropdown-menu resources-dropdown">
                                <a href="{% url 'blogs' %}" class="dropdown-item">Blog</a>
                                <a href="{% url 'tech_tips' %}" class="dropdown-item">Tech Tips</a>
                                <a href="{% url 'tech_reviews' %}" class="dropdown-item">Tech Reviews</a>
                                <a href="{% url 'pricing' %}" class="dropdown-item">Pricing</a>
                                <a href="{% url 'advertise' %}" class="dropdown-item">Advertise</a>
                            </div>
                        </div>
                
                        <!-- Courses Menu Item -->
                        <a href="{% url 'courses' %}" class="nav-item nav-link position-relative">
                            Courses
                            <span class="badge badge-success new-label">new</span>
                        </a>
                        <a href="{% url 'contact' %}" class="nav-item nav-link">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>

        </div>
        <!-- Nav Bar End -->

        {% block maincontent %}
        {% endblock %}

    <!-- Whatsapp Widget Start-->

        <div class="whatsapp-widget wow fadeInUp" data-wow-duration="2s">
            <a href="https://wa.link/f2kd41"  target="_blank">
                <i class="fab fa-whatsapp whatsapp-icon"></i>
            </a>
        </div>

        <!-- Whatsapp Widget End-->

        <!-- Call to Action Banner Start -->
        <div class="cta-banner section-margin wow fadeIn" data-wow-delay="0.1s">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-12">
                        <h2>Ready to Create Your Dream Website?</h2>
                        <p>Contact us! Let's bring your vision to life with our expert web development services.</p>
                    </div>
                    <div class="col-lg-4 col-md-12 text-center">
                         <a class="btn" href="{% url 'contact' %}">Get Started Now <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to Action Banner End -->

        <!-- Footer Start -->
        <div class="footer wow fadeIn" data-wow-delay="0.3s">
            <div class="container-fluid">
                <div class="container-fluid">
                    <div class="footer-info">
                        <div class="footer-logo">
                            <a href="/">
                                <img src="{% static 'img/website designer nigeria - logo.png' %}" alt="Website Designer Nigeria" class="img-fluid">
                            </a>
                        </div>
                        <p class="text-white">Website Designer Nigeria is a web design company in Lagos & Abuja that offers website development services. We are the best web designers in Nigeria.</p>
                       
                        <p class="text-white">Lagos Office: 6, Otta road, Ijora Olopa, Lagos</p>
                        <p class="text-white">Abuja Office: Jabi, Gwarinpa 900108, F.C.T Abuja</p>
                        
                        <div class="footer-menu">
                            <p>08148882303</p>
                            <p>contact@websitedesigner.ng</p>
                        </div>
                        <div class="footer-social">
                            <a href="https://x.com/webdesignerng"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.tiktok.com/@websitedesigner.ng"><i class="fab fa-tiktok"></i></a>
                            <a href="https://www.instagram.com/websitedesigner_ng"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container copyright">
                    <p>&copy; <a href="/">Website Designer Nigeria</a>, All Right Reserved | Designed by us with 🤍</p>
                </div>
            </div>
        </div>
        <!-- Footer End -->
        
        
        <!-- Back to top button -->
        <a href="#" class="btn back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        
        <!-- Pre Loader -->
        <div id="loader" class="show">
            <div class="loader"></div>
        </div>

        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'lib/wow/wow.min.js' %}"></script>
        <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'lib/typed/typed.min.js' %}"></script>
        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>

        
        <!-- Contact Javascript File -->
        <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
        <script src="{% static 'mail/contact.js' %}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'js/main.js' %}"></script>
        {% block extra_js %}
        {% endblock %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let stickyLogo = document.querySelector(".sticky-logo");

            window.addEventListener("scroll", function () {
                if (window.scrollY > 100 && window.innerWidth > 991) { 
                    stickyLogo.style.display = "block";
                } else {
                    stickyLogo.style.display = "none";
                }
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const faqItems = document.querySelectorAll('.faq-item');
            
            faqItems.forEach(item => {
                const question = item.querySelector('.faq-question');
                question.addEventListener('click', () => {
                    item.classList.toggle('open');
                });
            });
        });
    </script>

    <!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
   var swiper = new Swiper('.mySwiper', {
    slidesPerView: 'auto',
    spaceBetween: 20,
    loop: true,
    autoplay: {
        delay: 2500,
        disableOnInteraction: false,
    },
});
</script>


    </body>
</html>