{% extends 'main.html' %}
{% load static %}

{% block title %}Web Development Pricing in Nigeria - Website Design Packages{% endblock %}

{% block meta_description %}How much does Website Designer Nigeria charge for web development? Find out our web development pricing packages.{% endblock %}

{% block og_title %}Web Development Pricing in Nigeria - Website Design Packages{% endblock %}

{% block og_description %}How much does Website Designer Nigeria charge for web development? Find out our web development pricing packages.{% endblock %}

{% block extra_css %}
{% endblock%}

{% block maincontent %}

<!-- Page Title Banner -->
<div class="about-banner wow fadeIn" data-wow-delay="0.1s">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Web Development Pricing in Nigeria</h1>
            </div>
        </div>
    </div>
</div>

<!-- Page Title Banner End -->

<!-- Price Start -->
 <div class="price" id="price">
    <div class="container">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>Website Design Pricing Plan</p>
            <h2>Web Development Pricing Packages</h2>
        </div>
        <p class="text-center mb-4">How much does Website Designer Nigeria charge for web development? Find out our web development pricing packages.</p>
        <div class="row">
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="price-item">
                    <div class="price-header">
                        <div class="price-title">
                            <h2>CORPORATE</h2>
                        </div>
                        <div class="price-prices">
                            <h3><small>₦</small>350,000</h3>
                        </div>
                    </div>
                    <div class="price-body">
                        <div class="price-description">
                            <ul>
                                <li>Domain & Hosting (1 Year)</li>
                                <li>Business Emails</li>
                                <li>Up to 5 Pages</li>
                                <li>Logo Design</li>
                                <li>On Page SEO</li>
                            </ul>
                        </div>
                    </div>
                    <div class="price-footer">
                        <div class="price-action">
                            <a class="btn" href="http://wa.me/+2349058991274" target="_blank">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.0s">
                <div class="price-item featured-item">
                    <div class="price-header">
                        <div class="price-title">
                            <h2>E-COMMERCE</h2>
                        </div>
                        <div class="price-prices">
                            <h3><small>₦</small>500,000</h3>
                        </div>
                    </div>
                    <div class="price-body">
                        <div class="price-description">
                            <ul>
                                <li>Domain & Hosting (1 Year)</li>
                                <li>Business Emails</li>
                                <li>Logo Design</li>
                                <li>On Page SEO</li>
                                <li>Unlimited Pages</li>
                                <li>Payment Gateway</li>
                                <li>1 Month Support</li>
                                <li>Analytics Integration</li>
                            </ul>
                        </div>
                    </div>
                    <div class="price-footer">
                        <div class="price-action"> 
                            <a class="btn" href="http://wa.me/+2349058991274" target="_blank">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="price-item">
                    <div class="price-header">
                        <div class="price-title">
                            <h2>Premium</h2>
                        </div>
                        <div class="price-prices">
                            <h3><small>₦</small>XXX,XXX</h3>
                        </div>
                    </div>
                    <div class="price-body">
                        <div class="price-description">
                            <ul>
                                <li>Domain & Hosting (1 Year)</li>
                                <li>User & Admin Dashboard</li>
                                <li>Payment Gateway</li>
                                <li>Continuous Support</li>
                                <li>Analytics Integration</li>
                                <li>Social Media Integration</li>
                                <li>On Page & Off Page SEO</li>
                                <li>Content Management</li>
                            </ul>
                        </div>
                    </div>
                    <div class="price-footer">
                        <div class="price-action">
                            <a class="btn" href="{% url 'contact' %}" target="_blank">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Price End -->

{% endblock %}
{% block extra_js %}


{% endblock %}