{% extends 'main.html' %}
{% load static %}

{% block title %}Website Development Services - Website Developer in Nigeria{% endblock %}

{% block meta_description %}Website Developer in Nigeria offers custom website development services that builds businesses. We are the top web developers in Nigeria.{% endblock %}

{% block og_title %}Website Development Services - Website Developer in Nigeria{% endblock %}

{% block og_description %}Website Developer in Nigeria offers custom website development services that builds businesses. We are the top web developers in Nigeria.{% endblock %}

{% block extra_css %}
    <style>
        /* Page Header */
        .page-header {
            position: relative;
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/services-bg.jpg') center center no-repeat;
            background-size: cover;
        }

        /* Service Cards */
        .service-card {
            background-color: #fff;
            border-radius: 15px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            padding: 30px;
            transition: all 0.3s ease;
            height: 100%;
        }

        .service-card:hover {
            transform: translateY(-10px);
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
        }

        .service-icon {
            font-size: 3rem;
            color: #EF233C;
            margin-bottom: 20px;
        }

        .service-card h3 {
            font-size: 1.5rem;
            margin-bottom: 15px;
        }

        /* Testimonial Section */
        .testimonial-section {
            background-color: #EF233C;
        }

        .testimonial-section h2{
            color: #fff;
        }

        .testimonial-item {
            background-color: #fff;
            border-radius: 15px;
            padding: 30px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        }

        .testimonial-item h5 {
            font-size: 1.2rem;
            margin-top: 15px;
        }

        .testimonial-item span {
            font-size: 0.9rem;
            color: #6c757d;
        }

        /* Animations */
        .wow {
            visibility: hidden;
        }

        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translate3d(0, 40px, 0);
            }
            to {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }

        .fadeInUp {
            animation-name: fadeInUp;
        }
        .instagram-video-container {
            position: relative;
            width: 100%;
            padding-bottom: 120%; /* Adjust this value to control aspect ratio */
            height: 0;
            overflow: hidden;
        }

        .instagram-video-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }.instagram-video-container {
            position: relative;
            width: 100%;
            padding-bottom: 120%; /* Adjust this value to control aspect ratio */
            height: 0;
            overflow: hidden;
        }

        .instagram-video-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }


    </style>
{% endblock%}

{% block maincontent %}

<!-- Page Title Banner -->
    <div class="about-banner wow fadeIn" data-wow-delay="0.1s">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Website Developer in Nigeria</h1>
                </div>
            </div>
        </div>
    </div>

<!-- Services Description -->
<div class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <h2>Website Developer in Nigeria</h2>
            </div>
            <p class="mb-4 wow fadeInUp" data-wow-delay="0.2s">As top web developers in Nigeria, we offer a comprehensive suite of <b>website development services</b> customized to meet your business requirements. Our expert team focus in creating business websites that are both professional and functionally powerful. Whether you're looking to build an engaging online presence, launch an e-commerce store, or optimize your website for search engines, we work closely with you to deliver solutions that truly reflect your brand and drive real results. We believe that every website should be a tool for growth, designed to meet your unique business needs and engage your audience effectively.</p>
            <p>In addition to web development services, we offer a full range of services to ensure your digital success. From search engine optimization (SEO) that boosts your visibility to mobile app development that extends your reach, we’re here to support your business every step of the way. Our goal as Website Developer in Nigeria, is to provide you with the tools and strategies needed to succeed online, whether you’re just starting out or looking to expand. We’re not just building websites—we’re building lasting partnerships that help your business grow and succeed.</p>
            <a href="{% url 'contact' %}" class="btn btn-primary py-3 px-5 mt-5 mb-3 wow fadeInUp" data-wow-delay="0.3s">Contact Us Today</a>
        </div>
    </div>
</div>

<!-- Our Services Section -->
<div class="container-fluid py-5">
    <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
        <h2>Website Development Services</h2>
    </div>
    <div class="row g-4 mb-md-4">
        <div class="col-md-6 mb-4 mb-md-0 wow fadeInUp" data-wow-delay="0.2s">
            <div class="service-card">
                <div class="service-icon">
                    <i class="fas fa-laptop-code"></i>
                </div>
                <h3>Custom Website Development</h3>
                <p>We create websites that are as unique as your business. Our custom <b>web development services</b> focus on building secure, scalable, and user-friendly sites that not only look great but also work seamlessly to meet your requirements.</p>
                
            </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0 wow fadeInUp" data-wow-delay="0.3s">
            <div class="service-card">
                <div class="service-icon">
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <h3>E-Commerce Solutions</h3>
                <p>Starting an online store or upgrading an existing one? No worries, we design <b>e-commerce websites</b> that make shopping easy and enjoyable for your customers. From simple navigation to secure checkout systems, we focus on helping you grow your sales and build customer loyalty.</p>
            </div>
        </div>
    </div>
    <div class="row g-4">
        <div class="col-md-6 mb-4 mb-md-0 wow fadeInUp" data-wow-delay="0.4s">
            <div class="service-card">
                <div class="service-icon">
                    <i class="fas fa-search"></i>
                </div>
                <h3>Search Engine Optimization (SEO)</h3>
                <p>Website Developers in Nigeria helps your business get found online. With our <b>SEO services</b>, we optimize your site to rank higher on search engines, attract more visitors, and connect with the right audience. It’s all about boosting your visibility and driving real results.</p>
            </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0 wow fadeInUp" data-wow-delay="0.5s">
            <div class="service-card">
                <div class="service-icon">
                    <i class="fas fa-mobile-alt"></i>
                </div>
                <h3>Mobile App Development</h3>
                <p>We bring your ideas to life with mobile apps that are engaging, user-friendly, and built to perform. On both Android and iOS, our mobile apps are built to help your business connect with customers and achieve your goals.</p>
            </div>
        </div>
    </div>
</div>


<!-- Portfolio Start -->
<div class="portfolio section-margin" id="portfolio">
    <div class="container-fluid">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <h2>Website Development Portfolio</h2>
        </div>
        <p>Have a look at our website development portfolio, featuring past project completed for our clients. These and many other jobs make us the best web developers in Nigeria.</p>
        <div class="row">
             <!-- Portfolio Item 10 -->
             <div class="col-lg-4 col-md-6">
                <div class="portfolio-card">
                    <div class="image-container">
                        <img src="{% static 'img/website-demo3.webp' %}" alt="website developer in Nigeria" class="scrolling-images">
                    </div>
                    <a href="https://kusnap.com/" target="_blank"><h3 class="portfolio-title text-center mt-3">Ecommerce</h3></a>
                </div>
            </div>
             <!-- Portfolio Item 11 -->
             <div class="col-lg-4 col-md-6">
                <div class="portfolio-card">
                    <div class="image-container">
                        <img src="{% static 'img/website-demo4.webp' %}" alt="website developer in Nigeria" class="scrolling-images">
                    </div>
                    <a href="https://insidemarket.ng" target="_blank"><h3 class="portfolio-title text-center mt-3">Classified Ads</h3></a>
                </div>
            </div>
             <!-- Portfolio Item 12 -->
             <div class="col-lg-4 col-md-6">
                <div class="portfolio-card">
                    <div class="image-container">
                        <img src="{% static 'img/website-demo5.webp' %}" alt="website developer in Nigeria" class="scrolling-images">
                    </div>
                    <a href="https://qvr.com" target="_blank"><h3 class="portfolio-title text-center mt-3">Hair Vendor</h3></a>
                </div>
            </div>
            <!-- Portfolio Item 13 -->
            <div class="col-lg-4 col-md-6">
                <div class="portfolio-card">
                    <div class="image-container">
                        <img src="{% static 'img/website-demo6.webp' %}" alt="web developers in Nigeria" class="scrolling-images">
                    </div>
                    <a href="https://rehmie.com" target="_blank"><h3 class="portfolio-title text-center mt-3">Online Store</h3></a>
                </div>
            </div>
            <!-- Portfolio Item 14 -->
            <div class="col-lg-4 col-md-6">
                <div class="portfolio-card">
                    <div class="image-container">
                        <img src="{% static 'img/website-demo7.webp' %}" alt="web developers in Nigeria" class="scrolling-images">
                    </div>
                    <a href="https://www.eliteafricaproject.org/" target="_blank"><h3 class="portfolio-title text-center mt-3">Blog</h3></a>
                </div>
            </div>
            <!-- Portfolio Item 15 -->
            <div class="col-lg-4 col-md-6">
                <div class="portfolio-card">
                    <div class="image-container">
                        <img src="{% static 'img/website-demo8.webp' %}" alt="web developers in Nigeria" class="scrolling-images">
                    </div>
                    <a href="https://nairadirect.com" target="_blank"><h3 class="portfolio-title text-center mt-3">Crypto</h3></a>
                </div>
            </div>
            <!-- Portfolio Item 16 -->
            <div class="col-lg-4 col-md-6">
                <div class="portfolio-card">
                    <div class="image-container">
                        <img src="{% static 'img/website-demo12.jpg' %}" alt="web developers in Nigeria" class="scrolling-images">
                    </div>
                    <a href="https://bigghair.ng/" target="_blank"><h3 class="portfolio-title text-center mt-3">Hair Import</h3></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio End -->


<!-- Testimonial Start -->
<div class="mt-5 mb-3">
    <div class="testimonial wow fadeInUp" data-wow-delay="0.1s" id="reviews">
        <div class="container-fluid">
            <div class="testimonial-icon">
                <i class="fa fa-quote-left"></i>
            </div>
            <div class="owl-carousel testimonials-carousel">
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="https://media.licdn.com/dms/image/v2/D5603AQEr1pd1OjcYwQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1713774180174?e=2147483647&v=beta&t=SzNOpROm_Ya-3icVggZvFIfkPRi3X6oac5ux1E5sEtU" alt="create a website">
                    </div>
                    <div class="testimonial-text">
                        <p>
                            "These guys did an amazing job on my website. Not only does it look professional and modern, but they also ensured it’s optimized for search engines. 
                            Thanks to these best web designers in nigeria, I’ve noticed my site ranking higher, and it’s helping bring in more business."
                        </p>
                        <h3>Tunde Adeyanju</h3>
                        <h4>Director of Infrastructure</h4>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="https://media.licdn.com/dms/image/v2/C4D03AQFGBj-oYRuqMQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1595430338649?e=2147483647&v=beta&t=m1I2c2NFuRIxbRuhGjwS1cSJM116Cfurh83zXzZZsRg" alt="Website Designer Nigeria">
                    </div>
                    <div class="testimonial-text">
                        <p>
                            I had high hopes for my website, and Website Designer Nigeria delivered beyond expectations. They designed a responsive website that’s easy to use and 
                            visually appealing. My search engine rankings have gone up, and I’ve seen a steady increase in visitors.
                        </p>
                        <h3>Umar Babaginda</h3>
                        <h4>Regional Chairman</h4>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="https://media.licdn.com/dms/image/v2/D4D03AQGUn7U6vzY_lg/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1697792557444?e=2147483647&v=beta&t=7m_OMSi6GQDUpCEJcNxjRH1XX-_-yGaZQFQXRPu5TiM" alt="website development services">
                    </div>
                    <div class="testimonial-text">
                        <p>
                            I am beyond impressed with the web development services I was offered. These people created a beautiful website for 
                            my business and gave me more than what I asked for. I still run to them when I need help and they answer promptly.
                        </p>
                        <h3>Cyril Humble</h3>
                        <h4>Entrepreneur</h4>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="https://media.licdn.com/dms/image/v2/D4D03AQFm8vGZyczuCQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1726560286835?e=2147483647&v=beta&t=7X9IRQRx24Z7-i5j1KkypMfIjdQ_s1HUupNtiAHgroM" alt="best web designers in nigeria">
                    </div>
                    <div class="testimonial-text">
                        <p>
                            I have been working with this website design company in nigeria 
                            for a few months now, and the experience has been amazing. Their services are affordable, sites are beautiful and above all they are highly professional.
                        </p>
                        <h3>Osagie Rejoice</h3>
                        <h4>Product Manager</h4>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="https://media.licdn.com/dms/image/v2/D4D03AQHCeS1boG9szA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1687902489902?e=2147483647&v=beta&t=IYvvN72LH4FXpWzQ_u90NVKmd-3VC83qlwP9WmzsDaw" alt="website development services">
                    </div>
                    <div class="testimonial-text">
                        <p>
                            I needed to build a website for my business and I stumbled upon these guys and it has been wonderful ever since. My business has since grown tremendously and
                            I get a huge number of organic customers too. 
                        </p>
                        <h3>Funmilayo Ojo</h3>
                        <h4>Online Retailer</h4>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="https://media.licdn.com/dms/image/v2/D4D03AQGQgL9M0bMEoA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1710448563495?e=2147483647&v=beta&t=l2oBulX-bZIFSMVPEMnoKTJcZTBFqR804fVtuZu77rk" alt="website designer nigeria">
                    </div>
                    <div class="testimonial-text">
                        <p>
                            When I wanted to create a website for my blog, I was worried about finding a team that understood my vision. 
                            Website Developer in Nigeria not only understood it but made it even better. The process was smooth, and the results are stunning!
                        </p>
                        <h3>Sholadele Akanmu</h3>
                        <h4>Blogger</h4>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="https://media.licdn.com/dms/image/C4D03AQEXy8VhXxxhbA/profile-displayphoto-shrink_200_200/0/1644495647653?e=2147483647&v=beta&t=mhCF7GP-1fwLaeNhkw92TxTgkaKQW6oo3Dxlxby-nxk" alt="website designer nigeria">
                    </div>
                    <div class="testimonial-text">
                        <p>
                            Website Designer Nigeria made my dream of launching an e-commerce site a reality. They didn’t just develop a website; they designed 
                            a seamless shopping experience for my customers. I’m already seeing the impact on my sales. Highly recommend them!"
                        </p>
                        <h3>Toechi Johnson</h3>
                        <h4>Entrepreneur</h4>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="https://media.licdn.com/dms/image/v2/D4D03AQGqsHzOG2Hgbw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1718296633504?e=2147483647&v=beta&t=jFZKfJFuxG8HDumjyvgi-yBZfTVsCovesHOggEn0KHA" alt="website designer nigeria">
                    </div>
                    <div class="testimonial-text">
                        <p>
                            I couldn’t have asked for a better experience. Best website designers in Nigeria brought my vision to life, building a website that perfectly reflects my brand. 
                            The user-friendly design and attention to detail are just incredible. I’m beyond happy with the results."
                        </p>
                        <h3>Emeka Nwaeze</h3>
                        <h4>Forex Tutor</h4>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="https://media.licdn.com/dms/image/v2/C4E03AQF_xqh2QLavDg/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1586253447777?e=2147483647&v=beta&t=1KlWmVqP7w1siz0scnHdySqdxPg1iX-NAKU5ryX7uyw" alt="website development services">
                    </div>
                    <div class="testimonial-text">
                        <p>
                            As a small business owner, finding a Website Developer in Nigeria was so important to me. They didn’t just create a website; 
                            they built a platform that attracts new customers daily. Their services are top-notch and affordable. I’m so grateful!"
                        </p>
                        <h3>Paul Elijah</h3>
                        <h4>Dropshipper</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->

{% endblock %}
{% block extra_js %}
<script>
    $(document).ready(function(){
        $(".testimonial-carousel").owlCarousel({
            autoplay: true,
            smartSpeed: 1000,
            margin: 25,
            loop: true,
            center: true,
            dots: false,
            nav: true,
            navText : [
                '<i class="bi bi-chevron-left"></i>',
                '<i class="bi bi-chevron-right"></i>'
            ],
            responsive: {
                0:{
                    items:1
                },
                768:{
                    items:2
                },
                992:{
                    items:3
                }
            }
        });
    });

</script>


{% endblock %}